/.clover
/build
/local.properties
/generated*
/.fbwarnings
/.fbprefs
/bin
/outinstr
/libsrc
/dist
target
/test-output
/temp-testng-customsuite.xml
/.project
/.classpath
/.idea
*.iml
*.ids
*.log
*.iws
*.ipr
git-daemon-export-ok
.DS_Store
.*.swp
node_modules/
*.out
browser-driven-tests/test-suite/.rakeTasks
browser-driven-tests/test-suite/spec/reports/
browser-driven-tests/test-suite/jolokia-jvm.jar
browser-driven-tests/test-suite/output.html
core/src/main/resources/agent-config.txt
browser-driven-tests/test-suite/tmp/
browser-driven-tests/ping-stub/.bundle/
browser-driven-tests/ping-stub/bin/
browser-driven-tests/test-suite/examples.txt
/tmp
/.shelf
.java-version
webapp-src/.idea
webapp-src/.vscode/*
.idea
*.retry
npm-debug.log*
temp
mssql.pem
docker/engr-bdd-database/container/mssql
install_mssql/backups/*.bak
.flattened-pom.xml

